@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Records";
}

@model CrashesViewModel


<h1>Records</h1>
<link href="~/assets/css/site.css" rel="stylesheet" />
<link href="~/assets/css/style.css" rel="stylesheet" />

<form method="post">

    <div class="row m-1">




        <div id="types" class="col-9">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Crash ID</th>
                        <th>Main Road Name</th>
                        <th>City</th>
                        <th>County Name</th>
                        <th>Crash Severity</th>


                    </tr>
                </thead>

                <tbody>
                    @foreach (var a in Model.crashes)
                    {
                        <tr>
                            <td>@a.crash_id</td>
                            <td>@a.main_road_name</td>
                            <td>@a.city</td>
                            <td>@a.county_name</td>
                            <td>@a.crash_severity_id</td>



                            <td>
                                <a class="nav-link text-white btn btn-primary btn-sm" asp-area="" asp-controller="Home" asp-action="SingleRecord" asp-route-id="@a.crash_id">View Details</a>

                            </td>





                        </tr>
                    }
                </tbody>
            </table>



            @if (Model.PageInfo.TotalPages < 5)
            {
                for (var i = 1; i <= Model.PageInfo.TotalPages; i++)
                {
                    <input class="btn btn-sm  @(Model.PageInfo.CurrentPage == i ? "btn-primary" : "btn-secondary")" type="submit" asp-for="PageInfo.CurrentPage" value="@i" />
                }

            }
            else if (Model.PageInfo.CurrentPage <= 2)
            {
                <input class="btn btn-sm @(Model.PageInfo.CurrentPage == 1 ? "btn-primary" : "btn-secondary")" type="submit" asp-for="PageInfo.CurrentPage" value="1" />
                <input class="btn btn-sm @(Model.PageInfo.CurrentPage == 2 ? "btn-primary" : "btn-secondary")" type="submit" asp-for="PageInfo.CurrentPage" value="2" />
                <input class="btn btn-sm @(Model.PageInfo.CurrentPage == 3 ? "btn-primary" : "btn-secondary")" type="submit" asp-for="PageInfo.CurrentPage" value="3" /><span>...</span>
                <input class="btn btn-sm @(Model.PageInfo.CurrentPage == Model.PageInfo.TotalPages ? "btn-primary" : "btn-secondary")" type="submit" asp-for="PageInfo.CurrentPage" value="@Model.PageInfo.TotalPages" />
            }
            else if (Model.PageInfo.TotalPages - Model.PageInfo.CurrentPage <= 2)
            {
                <input class="btn btn-sm @(Model.PageInfo.CurrentPage == 1 ? "btn-primary" : "btn-secondary")" type="submit" asp-for="PageInfo.CurrentPage" value="1" /><span>...</span>
                <input class="btn btn-sm @(Model.PageInfo.CurrentPage == (Model.PageInfo.TotalPages - 3) ? "btn-primary" : "btn-secondary")" type="submit" asp-for="PageInfo.CurrentPage" value="@(Model.PageInfo.TotalPages - 3)" />
                <input class="btn btn-sm @(Model.PageInfo.CurrentPage == (Model.PageInfo.TotalPages - 2) ? "btn-primary" : "btn-secondary")" type="submit" asp-for="PageInfo.CurrentPage" value="@(Model.PageInfo.TotalPages - 2)" />
                <input class="btn btn-sm @(Model.PageInfo.CurrentPage == (Model.PageInfo.TotalPages - 1) ? "btn-primary" : "btn-secondary")" type="submit" asp-for="PageInfo.CurrentPage" value="@(Model.PageInfo.TotalPages - 1 )" />
                <input class="btn btn-sm @(Model.PageInfo.CurrentPage == Model.PageInfo.TotalPages  ? "btn-primary" : "btn-secondary")" type="submit" asp-for="PageInfo.CurrentPage" value="@Model.PageInfo.TotalPages" />
            }
            else
            {
                <input class="btn btn-sm @(Model.PageInfo.CurrentPage == 1 ? "btn-primary" : "btn-secondary")" type="submit" asp-for="PageInfo.CurrentPage" value="1" /><span>...</span>
                <input class="btn btn-sm @(Model.PageInfo.CurrentPage == Model.PageInfo.Page2 ? "btn-primary" : "btn-secondary")" type="submit" asp-for="PageInfo.CurrentPage" value="@Model.PageInfo.Page2" />
                <input class="btn btn-sm @(Model.PageInfo.CurrentPage == Model.PageInfo.CurrentPage ? "btn-primary" : "btn-secondary")" type="submit" asp-for="PageInfo.CurrentPage" value="@Model.PageInfo.CurrentPage" />
                <input class="btn btn-sm @(Model.PageInfo.CurrentPage == Model.PageInfo.Page4 ? "btn-primary" : "btn-secondary")" type="submit" asp-for="PageInfo.CurrentPage" value="@Model.PageInfo.Page4" /><span>...</span>
                <input class="btn btn-sm @(Model.PageInfo.CurrentPage == Model.PageInfo.TotalPages ? "btn-primary" : "btn-secondary")" type="submit" asp-for="PageInfo.CurrentPage" value="@Model.PageInfo.TotalPages" />
            }
        </div>

        <div class="col-3 p-1">
            <h3>Filters</h3>
            <label value="0">Severity</label><br />
            <select asp-for="Filter.severity">
                <option>Select All</option>
                @foreach (var a in ViewBag.severity)
                {
                    <option value="@a">@a</option>
                }

            </select><br />
            <label>City</label><br />
            <select asp-for="Filter.city">

                <option value="@null">Select All</option>
                @foreach (var b in ViewBag.city)
                {
                    <option value="@b">@b</option>
                }
            </select>

            <input type="hidden" asp-for="PageInfo.CurrentPage" value="1" />
            <button type="submit" class="btn btn-primary py-2 my-2">Change Filters</button>
        </div>


        @*<div style="margin-top: 10px; margin-bottom: 10px;" page-dynamic="@Model.PageInfo" page-action="Crashes" page-class-normal="btn btn-outline-dark" page-class-selected="btn btn-primary"></div>*@

    </div>
</form>
